/* 
    Put here general style
    Be aware these file should only be used if the default layout of ui-kit does not fit.
*/
body {
    padding: 1em;
}
article {
    padding: 1em;
}
[alt="Project logo"] {
    width: 200px;
    height: 200px;
}